/* Globalni stilovi */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}
/* You can add global styles to this file, and also import other style files */
