<section *ngIf="book() as b" class="book-header">
  <h1>{{b.title}}</h1>
  <h2>by {{b.author}}</h2>
</section>

<div *ngIf="book() as b" class="book-details-layout">
  <!-- Slika -->   
  <div class="book-cover">
    <img src={{b.coverImageUrl}} alt="no image available">
  </div>

  <!-- Info -->
  <div class="book-info">
    <p><strong>Žanr: </strong>{{b.genre}}</p>
    <p><strong>Izdavač: </strong>{{b.publisher}}</p>
    <p><strong>Godina: </strong>{{b.year}}</p>
    <p><strong>Broj stranica: </strong>{{b.pages}}</p>
    <div class="rating">
      ⭐ 5 / 5
    </div>
    <div class="actions">
      <button class="btn primary">Dodaj u listu</button>
      <button class="btn secondary">Ostavi recenziju</button>
      <button class="btn link">Diskutuj na forumu</button>
    </div>
  </div>

  <!-- Opis knjige -->
  <section class="book-description">
    <h3>Opis</h3>
    <p>{{b.summary}}</p>
  </section>

</div>



<!-- Recenzije 
<section class="reviews">
  <h3>Recenzije</h3>
  <div *ngFor="let review of book.reviews" class="review-card">
    <strong>{{ review.user }}</strong> — ⭐ {{ review.rating }}
    <p>{{ review.comment }}</p>
  </div>
</section>
-->

<!-- Slične knjige 
<section class="related-books">
  <h3>Slične knjige</h3>
  <div class="related-grid">
    <div class="related-card" *ngFor="let related of relatedBooks">
      <img [src]="related.coverUrl" [alt]="related.title">
      <p>{{ related.title }}</p>
    </div>
  </div>
</section>
-->